a{
	color: turquoise;
}

ul {
    padding-left: 20px;
	margin: 0px;
}​

li {
	color: white;
}

.main{
	width: 970px;
    padding: 20px;
    background-color: #053452;
}

.header{
    background-color: rgb(228, 53, 53);
	color: white;
	border-radius: 15px;
}
.header h2 {
	padding: 20px;
}
.container{
    display: flex;
    width: 970px;
	border-radius: 15px;
}
.sidebar{
	background-color: #007F8A;
	border-radius: 15px;
	vertical-align: top;
	height: fit-content;
	padding: 20px;
	margin-right: 10px;
}

.list1{
	list-style-type: none;
	color: white;
	padding-bottom: 0px;
}

.list2{
	white-space: nowrap;
	padding-left: 40px;
	color: white;
}

.content{
	background-color: rgb(37, 37, 35);
	color: rgb(255, 255, 255);
	border-radius: 15px;
	padding: 20px;
	margin-left: 10px;
}

.footer{
    background-color: grey;
	color: white;
	margin-top: 15px;
	border-radius: 15px;	
	padding: 3px;
}

.footer p {
    margin-left: 20px;
	
} 



